<!doctype html>
<html lang="en">
  <head>
    {{>header}}
    <link rel="stylesheet" href="/about_us.css">
  </head>
  <body>
    {{>navbar}}

     <div class="about">
        <div class="part1"><img src="/harsh1.jpg" alt="founder image" class="f-img"></div>
        <div class="part2"><h1><b></b>HARSH KUMAR</b></h1><h5>(FOUNDER)</h5> A legacy of over 1 years and over 50+ customers served – <b>Creative Harsh</b>
          humble legacy started with our online store back in 2022 at saharsa,Bihar.<br><br>
          Founded by visionary<b> Mr. Harsh Kumar</b>, the company was awarded the ‘Most Admired Designer Award” 
          in 2022, followed by winning the coveted title of India’s Most Trusted Designer Brand in 2022. With over 
          10 stores all over India, our newly launched website and Home Service initiative, we offer quality Posters , Logo , Story
          from a variety of Designs.</div>
     </div>
    <h1>--------- Key features ---------</h1>
    <div class="key-f">
      <div class="keys key1"><div class="img"><img src="/key-1.png" alt="" class="key-img"></div><div class="para"><p>Service at your Door step .</p></div></div>
      <div class="keys key2"><div class="img"><img src="/key-2.png" alt="" class="key-img"></div><div class="para"><p>Authorised Designer fron Govt. </p></div></div>
      <div class="keys key3"><div class="img"><img src="/key-3.png" alt="" class="key-img"></div><div class="para"><p>1 year Experience.</p></div></div>
      <div class="keys key4"><div class="img"><img src="/key-4.png" alt="" class="key-img"></div><div class="para"><p>Quality assurance .</p></div></div>
    </div>

    
 <a href="https://api.whatsapp.com/send?phone=+919341948191&text=Hello " class="float" target="_blank">
        <i class="fa fa-whatsapp my-float"></i>
        </a>

      <div class="footer">
        <div class="option opt">Services</div>
        <div class="option opt">about us</div>
        <div class="option opt">term & condition</div>
        <div class="option opt">cancellation & return</div>
        <div class="option opt">privacy policy</div>
        <div class="option opt">faqs</div>
        <div class="option opt">customer care</div>
        
      </div>
      <div class="brand-name" style="font-size: 27px;">CREATIVE HARSH</div>
      <div class="social-media">
        <a href="https://instagram.com/creativeharsh7?igshid=MzNlNGNkZWQ4Mg=="><i class="fa fa-instagram sicon insta"  arial-hidden="true" style="font-size:30px;;"></i></a>
        <a href="https://www.facebook.com/profile.php?id=100089717230332&mibextid=ZbWKwL"><i class="fa fa-facebook-square sicon fb" style="font-size:30px; "></i></a>
        <a href="#"><i class="fa fa-twitter sicon twitter" style="font-size:30px;"></i></a>
          
          
      </div>
      
        <div  id="call">call us : 9341948191</div>
        <div  id="cpr">copyright_icon<i class='far fa-copyright'></i> 2023 Creative harsh .</div>



    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    
  </body>
</html>