<!doctype html>
<html lang="en">
  <head>
    {{>header}}
  </head>
  <body>
    {{>navbar}}
      
      <div class="title">welcome {{{cname}}} </div>

      <div class="grid-container">
          <div class="items" id="item1"style="padding-top: 0px;"><img src="/banner1.jpeg" alt="" style="width: 200px;height: 110px;"></div>
          <div class="items" id="item2" style="padding-top: 0px;" ><img src="/banner2.jpeg" alt="" style="width: 200px;height: 110px;"></div>
          <div class="items" id="item3" style="padding-top: 0px;" ><img src="/banner3.jpeg" alt="" style="width: 200px;height: 110px;"></div>  
      </div>

      <h1 class="brand">our brands</h1>
      <div class="brand-container">
        
        <div class="brand" id="brand1"><img src="/brand1.jpg" alt="...." style="width: 200px;height: 110px;"></div>
        <div class="brand" id="brand2"><img src="/brand2.jpg" alt="...." style="width: 200px;height: 110px;"></div>
        <div class="brand" id="brand3"><img src="/brand3.jpg" alt="...." style="width: 200px;height: 110px;"></div> 
        <div class="brand" id="brand4"><img src="/brand4.jpg" alt="...." style="width: 200px;height: 110px;"></div> 
        <div class="brand" id="brand5"><img src="/brand5.jpg" alt="...." style="width: 200px;height: 110px;"></div> 
        <div class="brand" id="brand6"><img src="/brand6.jpg" alt="...." style="width: 200px;height: 110px;"></div> 
      </div>

  {{>footer}}
  </body>
</html>