<!doctype html>
<html lang="en">
  <head>
    {{>header}}
  </head>
  <body>
    {{>navbar}}

      {{!-- <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/slide1.jpeg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/slide2.jpeg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/slide3.jpeg" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div> --}}
      <div class="vd">
      <video width="100%" height="10%" controls autoplay>
      <source src="/video.mp4" type="video/mp4">
      </video>
      </div>

      <div class="title">this is home page.</div>

      <div class="grid-container">
          <div class="items" id="item1"style="padding-top: 0px;"><img src="/banner1.jpeg" alt="" style="width: 200px;height: 110px;"></div>
          <div class="items" id="item2" style="padding-top: 0px;" ><img src="/banner2.jpeg" alt="" style="width: 200px;height: 110px;"></div>
          <div class="items" id="item3" style="padding-top: 0px;" ><img src="/banner1.jpeg" alt="" style="width: 200px;height: 110px;"></div>  
      </div>


      <h1 class="services"> Services </h1>
      <div class="services-container">
        <div class="service1">
          <div class="s1-1">
            <h1>Website Design</h1><br><br>
            <p>Web design encompasses many different skills
               and disciplines in the production and maintenance of websites. 
               The different areas of web design include web graphic design; 
               interface design.</p>
          </div>
          <div class="s1-2">
            <img src="services1.gif" alt="services1">
          </div>
        </div>
        <div class="service2">
          <div class="s2-1"><br><br>
            <h1>WhatsApp Marketing</h1>
            <p>Boost Your Business & Sales
               Instantly With Our Unique WhtsAp
                Marketing Software. Send 
                Image/Documents/Text/Video Audio ad Many More. 
                Send Unlimited Messages to People.</p>
          </div>
          <div class="s2-2">
            <img src="services2.gif" alt="services2">
          </div>
        </div>
        <div class="service3">
          <div class="s3-1"><br><br>
            <h1>Lead Generation</h1>
            <p>In Facebook, you can create campaigns
               using a Lead Generation objective
                that allows consumers to fill in a 
                form, called an "Instant Form", with 
                their contact information.You can also
                 track lead conversion events on your own
                  website using the Facebook pixel.</p>
          </div>
          <div class="s3-2">
            <video width="100%" height="10%" loop autoplay muted>
              <source src="/services3.mp4" type="video/mp4">
            </video>
          </div>
        </div>
        <div class="service4">
          <div class="s4-1"><br><br>
            <h1>SOCIAL MEDIA MARKETING</h1>
            <p>Would you like to improve your 
              social media marketing? Are you up
               to date with the best social media
                tips and tools? TheWebIndIA Media 
                marketing plan will help you. 
                Contact Us. COMPLETE SOLUTION 
                FOR BRANDING & MARKETING EXPERT 
                TEAM FOR YOUR BUSINESS ANALYSIS & 
                SOCIAL MEDIA MARKETING GUARANTEED RESULT 
                FOR YOUR BUSINESS DEDICATED SUPPORT.</p>
          </div>
          <div class="s4-2">
            <img src="services4.gif" alt="services4">
          </div>
        </div>
        <div class="service5">
          <div class="s5-1"><br><br>
            <h1>Creative Design</h1>
            <p>Design is the creation of a plan or convention for the construction of an object, system or measurable human interaction (as in architectural blueprints.</p>
          </div>
          <div class="s5-2">
            <img src="services6.png" alt="services5">
          </div>
        </div>
        <div class="service6">
          <div class="s6-1"><br><br>
            <h1>Digital Visting Card</h1>
            <p>Interactive Digital vCard Make a
               great first impression with the most
                advanced, intelligent and stunning Digital
                 vCard that you can create using our digital
                  business card tool. Freedom from Boring
                   Printed Business Cards Forget about old 
                   fashioned printed visiting cards that 
                   generally goes to the dustbin. With our
                    Digital Business Card, you can create 
                    and share your contact information that
                     has Actionable one click events like Call,
                     Email, Whatsapp, Navigation, Website Link,
                     Payment, Social Links, Maps and more.</p>
          </div>
          <div class="s6-2">
            <img src="services7.webp" alt="services6">
          </div>
        </div>
        <div class="service7">
          <div class="s7-1"><br><br>
            <h1>Logo Design</h1>
            <p>A logo is a graphic mark, emblem,
               or symbol used to aid and promote
                public identification and recognition. 
                It may be of an abstract or figurative 
                design or include the text of the name 
                it represents as in a wordmark.</p>
          </div>
          <div class="s7-2">
            <img src="services8.gif" alt="services7">
          </div>
        </div>
        <div class="service8">
          <div class="s8-1"><br><br>
            <h1>Support 24x7</h1>
            <p>24x7 means "24 hours a day, 7 days a week" 
              and is used to describe a service, such as 
              computer server monitoring, that is continuous,
               is always available (day or night).</p>
          </div>
          <div class="s8-2">
            <img src="services9.png" alt="services8">
          </div>
        </div>

      </div>

      <h1 class="brand">Pricing</h1>
      <div class="brand-container">
        
        <div class="brand" id="brand1"><img src="/brand1.jpg" alt="...." style="width: 400px;height: 210px;"></div>
        <div class="brand" id="brand2"><img src="/brand2.jpg" alt="...." style="width: 400px;height: 210px;"></div>
         
      </div>

  {{>footer}}
  </body>
</html>