 <link rel="preconnect" href="https://fonts.googleapis.com">
 <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
 <a href="https://api.whatsapp.com/send?phone=+919262207715&text=Hello " class="float" target="_blank">
        <i class="fa fa-whatsapp my-float"></i>
        </a>

      <div class="footer">
        <div class="option opt">Services</div>
        <div class="option opt">about us</div>
        <div class="option opt">term & condition</div>
        <div class="option opt">cancellation & return</div>
        <div class="option opt">privacy policy</div>
        <div class="option opt">faqs</div>
        <div class="option opt">customer care</div>
        
      </div>
      <div class="brand-name" style="font-size: 27px;">CREATIVE HARSH</div>
      <div class="social-media">
        <a href="https://instagram.com/anand_om_?utm_medium=copy_link"><i class="fa fa-instagram sicon insta"  arial-hidden="true" style="font-size:30px;;"></i></a>
        <a href="#"><i class="fa fa-facebook-square sicon fb" style="font-size:30px; "></i></a>
        <a href="#"><i class="fa fa-twitter sicon twitter" style="font-size:30px;"></i></a>
          
          
      </div>
      
        <div  id="call">call us : 9341948191</div>
        <div  id="cpr">copyright_icon<i class='far fa-copyright'></i> 2023 Creative harsh .</div>



    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    