*{
    text-transform: capitalize;
    font-weight: 10%;
    font-family: 'Montserrat', sans-serif;
}
.title{
    border: 1px solid ;
    padding: 5px 9px 9px 10px;
    border-radius: 10px;
    animation: color_changer 10s ease-in-out 0s;
}

@keyframes color_changer {
    0%{color: rgb(86, 248, 10);}
    25%{color: rgb(185, 11, 248);}
    50%{color: rgb(7, 5, 121);}
    75%{color: rgb(7, 252, 129);}
    100%{color: rgb(7, 238, 255);}
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 0%;
    background-image: linear-gradient(to bottom right, rgba(252, 10, 10, 0), rgb(0, 134, 179));
    padding: 0px 0px;
}

 .grid-container > div {            text-align: center;
    /* padding: 30% 0% 0% 0%; */
    /* padding-top: 8%;
    padding-bottom: 4%; */
    height: 16vh;
    cursor: pointer;
    padding-top: 0px;
    /* border: 2px solid black; */
}
h1{
    text-align: center;
    margin-top: 3%;
}
.vd{
    height: 10%;
    padding: 4%;
}


/* services */
.services{
    font-size: xx-large;
    animation: color_changer 10s ease-in-out 0s;
    font-weight: 800;
}
.services-container{
    /* display: grid; */
}
.service1{
    display: grid;
    grid-template-columns: 45% 55%;
    grid-gap: 0%;
}
.s1-1{
    padding: 10%;
}
.s1-1 >h1{
    font-size: 50px;
    font-weight: 1000;
}

.service2{
    display: grid;
    grid-template-columns: 45% 55%;
    grid-gap: 0%;
}
.s2-1{
    padding: 10%;
}
.s2-1 >h1{
    font-size: 50px;
    font-weight: 1000;
}

.service3{
    display: grid;
    grid-template-columns: 45% 55%;
    grid-gap: 0%;
}
.s3-1{
    padding: 10%;
}
.s3-1 >h1{
    font-size: 50px;
    font-weight: 1000;
}

.service4{
    display: grid;
    grid-template-columns: 45% 55%;
    grid-gap: 0%;
}
.s4-1{
    padding: 10%;
}
.s4-2>img{
    height: 200px;
    width: 200px;
}
.s4-1 >h1{
    font-size: 50px;
    font-weight: 1000;
}

.service5{
    display: grid;
    grid-template-columns: 45% 55%;
    grid-gap: 0%;
}
.s5-1{
    padding: 10%;
}
.s5-1 >h1{
    font-size: 50px;
    font-weight: 1000;
}

.service6{
    display: grid;
    grid-template-columns: 45% 55%;
    grid-gap: 0%;
}
.s6-1{
    padding: 10%;
}
.s6-2>img{
    height: 200px;
    width: 200px;
}
.s6-1 >h1{
    font-size: 50px;
    font-weight: 1000;
}

.service7{
    display: grid;
    grid-template-columns: 45% 55%;
    grid-gap: 0%;
}
.s7-1{
    padding: 10%;
}
.s7-1 >h1{
    font-size: 50px;
    font-weight: 1000;
}
.s7-2>img{
    height: 200px;
    width: 200px;
}

.service8{
    display: grid;
    grid-template-columns: 45% 55%;
    grid-gap: 0%;
}
.s8-1{
    padding: 10%;
}
.s8-1 >h1{
    font-size: 50px;
    font-weight: 1000;
}

.pricing{
    padding-left: 12%;
}









.brand{
    cursor: pointer;
}
.brand-container {
    display: grid;
    grid-template-columns: auto ;
    margin: 2% 2% 2% 2%;
    grid-gap: 0px;
    background-image:linear-gradient(to bottom right,rgba(222, 11, 250, 0.849) ,rgba(255, 0, 179, 0.74), rgba(6, 119, 248, 0.822));
    padding: 2% 2% 2% 2%;
}

 .brand-container > div {           
    text-align: center;
    padding: 0% 0% 0% 0%;
    height: 30vh;

    /* border: 2px solid black; */
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.my-float{
	margin-top:16px;
}
.footer{
    padding: 3% 3% 3% 3%;
    background-color:#131616;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 2%;
}
.option{
    font-family: 'Montserrat', sans-serif;
    color:white;
    padding: 4% 1%;
    text-align: center;
    transition: background-color 1s,border-radius 1s, color 0.5s ease;
    cursor: pointer;
    /* border: 2px solid black; */
}

.opt:hover{
    cursor: pointer;
    color: whitesmoke;
    border-radius: 50px;
    background-color: rgba(12, 131, 243, 0.527);
    text-align: center;
    animation:back_changer 5s ease;
}
@keyframes back_changer{
    0%{background-color: rgba(136, 253, 2, 0.527);}
    50%{background-color: rgb(255, 60, 0);}
    100%{background-color: rgba(216, 12, 243, 0.829);}
}
.brand-name{
    background-color:#131616 ;
    color: white;
    padding-left: 3%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.brand-name:hover{
    cursor: pointer;
}
.social-media{
    padding-left: 3%;
    /* border: 2px solid black; */
    background-color:#131616 ;
}
.sicon{
    padding: 13px 13px 13px 14px;
    color: white;
    margin-left: 3%;
    transition: background-color 0.8s ease-in-out 0s,border-radius 0.4s ease 0s,color 0.8s ease;
    /* background-color:pink; */
}
.sicon:hover{
    margin-left: 3%;
    border-radius:25px ;
    background-color:white;
}
.insta:hover{
    color: red;
}
.fb:hover{
    color: rgb(9, 33, 250);
}
.twitter:hover{
    color: rgb(15, 167, 255);
}
#call{
    padding-right:2% ;
    color: whitesmoke;
    /* border: 2px solid black; */
    background-color:#131616;
    text-align: right;
}
#cpr{
    padding-top: 3vh;
    padding-bottom: 3vh;
    color: whitesmoke;
    text-align: center;
    /* border: 2px solid black; */
    background-color:black ;
}
#cpr:hover{
    cursor: pointer;
}
#call{
    cursor: pointer;
}


@media only screen and (max-width: 500px){
    .brand-container{
        padding-top: 2%;
        /* border: 2px solid black; */
        display: grid;
        height: 70vh;
        /* background-color: yellowgreen; */
        grid-template-columns:auto;

    }
    #brand1{
        /* border: 2px solid black; */
        height: 17vh;
        grid-column-start: 1;
        grid-column-end: 3;
    }
    #brand2{
        /* border: 2px solid black; */
        height: 17vh;
        grid-column-start: 1;
        grid-column-end: 3;
    }
    #brand3{
        /* border: 2px solid black; */
        height: 17vh;
        grid-column-start: 1;
        grid-column-end: 3;
    }
    #brand4{
        /* border: 2px solid black; */
        height: 17vh;
        grid-column-start: 1;
        grid-column-end: 3;
    }
    #brand5{
        /* border: 2px solid black; */
        height: 17vh;
        grid-column-start: 1;
        grid-column-end: 3;
    }
    #brand6{
        /* border: 2px solid black; */
        height: 17vh;
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .brand-container > div >img  {
        padding-left: 0px;
    }
    .login_form > input{
        margin: 0px;
        padding: 0px;
    }
}
@media only screen and (max-width: 600px) {
    body {
      /* background-color: lightblue; */
    }
    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto;
        /* border: 2px solid black; */
        grid-gap: 0px;
        /* background-color: #b3f0ff; */
        padding: 0px 0px;
        transition: grid-template-columns 3s ease;
    }
    .grid-container > div {
        /* border: 2px solid black; */
        padding-bottom: 0%;
        
        /* position: absolute; */
        /* margin-left: 30%; */

    }
    #item1{
        padding: 6% 0% 0% 0%;
        height: 15vh;
        grid-column-start: 1;
        grid-column-end: 4;
    }
    #item2{
        padding: 0% 0% 0% 0%;
        height: 15vh;
        grid-column-start: 1;
        grid-column-end: 4;
        position: relative;
        
    }
    #item3{
        padding: 0% 0% 0% 0%;
        height: 15vh;
        
        grid-column-start: 1;
        grid-column-end: 4;
    }
}
  @media only screen and (max-width: 750px){
    .grid-container > div {
        padding: 30% 0% 0% 0%;
      }
      .brand-container{
          /* background-color: rgb(243, 128, 20); */
          display: grid;
          grid-template-columns: auto auto;


      }
      .footer{
          grid-template-columns: auto auto auto;
      }
      .login_form > input{
        margin: 0px;
        padding: 0px;
    }
    }


/* for login page */
.login_form{
    background-color: #db69d3c4;
    border: 2px solid black;
    border-radius: 25px;
    padding: 2% 2%;
    text-align: center;
    margin: 4% 25%;
}
.login_form > h1{
    margin:4% 5%;
}
.login_form > input{
    padding: 0% 3%;
    border: 2px solid black;
    margin: 3% 1%;
    color: rgb(11, 11, 11);
    border-radius: 15px;

}

@media only screen and (max-width: 450px){
    body {
        /* background-color: lightblue; */
      }
    .login_form{
        
        margin: 2% 3%;
        /* border: 6px solid red; */
    }
}

/* for about us page  */
.part2>h1{
    animation: color_changer 20s ease-in-out 0s;
}
